/*--------------------------------------------------------------
# Blog Components
--------------------------------------------------------------*/
.username {
    color: var(--heading-color);
}

.biography-editor .form-control {
}

.biography-editor .form-control {
    font-size: 14px;
    border: 2px solid color-mix(in srgb, var(--accent-color), transparent 50%);
    background: none;
    color: var(--heading-color);
    padding-right: 40px;
}

    .biography-editor .form-control:focus {
        border-color: color-mix(in srgb, var(--accent-color), transparent 10%);
        box-shadow: none;
    }

    .biography-editor .form-control::placeholder {
        color: color-mix(in srgb, var(--heading-color), transparent 60%);
    }
