<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blogz</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="..." crossorigin="anonymous" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header id="header" class="header d-flex align-items-center sticky-top mb-4">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                <h1 class="sitename">BlogZ</h1>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <partial name="_LoginPartial" />
                    <li id="themeToggle" class=" ms-3 mt-1" title="Toggle Theme">
                        <i id="moonicon" class="fas fa-moon theme-switch-widget"></i>
                        <i id="sunicon" class="fas fa-sun theme-switch-widget"></i>
                    </li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="widget">
                        <h3 class="widget-heading">About Us</h3>
                        <p class="mb-4">
                            There live the blind texts. Separated they live in Bookmarksgrove
                            right at the coast of the Semantics, a large language ocean.
                        </p>
                        <p class="mb-0">
                            <a href="#" class="btn-learn-more">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
                    <div class="widget">
                        <h3 class="widget-heading">Navigation</h3>
                        <ul class="list-unstyled float-start me-5">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Find Buyers</a></li>
                        </ul>
                        <ul class="list-unstyled float-start">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pl-lg-5">
                    <div class="widget">
                        <h3 class="widget-heading">Recent Posts</h3>
                        <ul class="list-unstyled footer-blog-entry">
                            <li>
                                <span class="d-block date">May 3, 2020</span>
                                <a href="#">There live the Blind Texts</a>
                            </li>
                            <li>
                                <span class="d-block date">May 3, 2020</span>
                                <a href="#">Separated they live in Bookmarksgrove right</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pl-lg-5">
                    <div class="widget">
                        <h3 class="widget-heading">Connect</h3>
                        <ul class="list-unstyled social-icons light mb-3">
                            <li>
                                <a href="#"><span class="bi bi-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="bi bi-twitter-x"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="bi bi-linkedin"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="bi bi-google"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="bi bi-google-play"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <div class="footer-subscribe">
                            <h3 class="widget-heading">Subscribe</h3>
                            <form action="forms/newsletter.php" method="post" class="php-email-form">
                                <div class="mb-2">
                                    <input type="text" class="form-control" name="email" placeholder="Enter your email">

                                    <button type="submit" class="btn btn-link">
                                        <span class="bi bi-arrow-right"></span>
                                    </button>
                                </div>
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">
                                    Your subscription request has been sent. Thank you!
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">Active.</strong> <span>All Rights
                        Reserved</span></p>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you've purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/purecounter/purecounter_vanilla.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
