@{
    ViewData["Title"] = "401 - Access Denied";
}

<section class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-danger">401 - Access Denied</h1>
    <p>
        You are not allowed to see this page. If you believe this is an error, contact support.
    </p>

    <ul>
        <li><a href="/">Go to Homepage</a></li>
        <li><a href="/Contact">Contact Support</a></li>
    </ul>
</section>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>